# Skopiuj ten plik jako .env i uzupełnij wartości
# cp .env.example .env

# POSTGRESQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_MULTIPLE_DATABASES=auth_db,user_db,movie_db,streaming_db,notification_db,keycloak_db

# REDIS
REDIS_PASSWORD=

# JWT (auth-service)
# Wygeneruj: openssl rand -hex 64
JWT_SECRET=
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

# MAILPIT (dev SMTP)
MAIL_HOST=mailpit
MAIL_PORT=1025

# MONGODB
MONGO_INITDB_ROOT_USERNAME=streamflix
MONGO_INITDB_ROOT_PASSWORD=mongo_dev_2024
MONGO_INITDB_DATABASE=movie_db

# MINIO
MINIO_ROOT_USER=streamflix
MINIO_ROOT_PASSWORD=minio_dev_2024
